opencv-python-headless>=4.5.0
numpy==1.23.5
ultralytics>=8.0.0
matplotlib>=3.5.0
scikit-learn
pandas
seaborn
Pillow
streamlit
scikit-image>=0.19.0
filterpy>=1.4.5
pygame>=2.1.2
motmetrics>=1.2.0
torch==1.13.1
torchvision==0.14.1
