streamlit>=1.29.0
opencv-python-headless
numpy==1.23.5
ultralytics>=8.0.0
matplotlib>=3.5.0
scikit-learn
pandas
seaborn
Pillow
torch==1.13.1
torchvision==0.14.1
scikit-image>=0.19.0
filterpy>=1.4.5
pygame==2.5.2
motmetrics>=1.2.0
setuptools==80.0.0
lap>=0.4.0
libgl1
